
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>Home | About</h1>
    </div>

    <div>
        @ViewData["MyKey"]
    </div>

    <div>
        @if (!string.IsNullOrEmpty(ViewBag.Name))
        {
            <p>Welcome, @ViewBag.Name!</p>
        }
        else
        {
            <p>Welcome!</p>
        }
    </div>S
    <div>
        <h1>View Bag</h1>
        <ul>
            @foreach (var list in ViewBag.myList)
            {
                <li>@list</li>
            }
        </ul>
    </div>

    <div>
        <ul>
            @foreach (var list in ViewBag.employeeList)
            {
                <li>@list.Name - @list.Email - @list.Id</li>
            }
        </ul>
    </div>

    <div>
        <h1>View Data</h1>
        <ul>
            @foreach (var list in (List<string>) ViewData["myList"])
            {
                <li>@list</li>
            }
        </ul>
    </div>

</body>
</html>
